@mixin dflex {
    display: flex;
    align-items: center;
}

.about-sec{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;

    .section-title{
        width: 90%;
        margin: 0 auto;
    }
    
    .about-sec-content{
        width: 90%;
        margin: 0 auto;
        padding-top: 4rem;
        .image{
            text-align: center;
                .img{
                    border-radius: 8px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                    transition: all .4s;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    &:hover{
                        transform: translate(-10px,-10px);
                        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0%);
                        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                    }
                
            }
        }
        .text-content{
            padding-top: 5rem;
            .info{
                font-size: 1.8rem;
                font-family: $ff-mont;
                opacity: .8;
                font-weight: 300;
            }
            .skills-title{
                padding-top: 4rem;
                font-family: $ff-raleway;
                font-size: 2rem;
                font-weight: 00;
            }
            .skills-list{               
                font-family: $ff-ptmono;
                font-size: 1.5rem;
                letter-spacing: 1px;
                // @include dflex();
                // flex-direction: column;
                // text-align: center;
                li{
                    ul{
                        display: flex;                 
                        justify-content: space-around;
                        li{
                            padding: 2rem 0rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:780px) {
    .about-sec{
        .about-sec-content{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr ;
          column-gap: 2rem;
          padding: 5rem 0rem;

          .image{
              grid-column: 2/3;

          }
          .text-content{
              grid-column: 1/2;
              grid-row: 1/2;
          }
        }
    }
}