@mixin dflex {
  display: flex;
  align-items: center;
}

.work-sec {
  min-height: 100vh;
  
  .project {
    margin: 4rem 0rem;
    padding: 0 80px;
    img {
      width: 100%;
      height: auto;
      max-width: 580px;
    }
    .project-info {

      .project-heading {
        @include dflex();
        justify-content: space-between;
        margin: 0 auto;
        
        .project-title {
          width: 100%;
          h3 {
            font-size: 3rem;
            font-family: $ff-raleway;
            font-weight: 300;
          }
          h4 {
            @include dflex();
            width: 80%;
            gap: 15px;
            padding: .8rem 0rem;
            span {
             
              padding: 3px 6px;
              border-radius: 25px;
              font-size: 1rem;
              background: #2D3138;
              color: rgb(255, 255, 255);
              font-family: $ff-ptmono;
              font-weight: 200;
              line-height: 15px;
            }
          }
        }
        .external-links {
          @include dflex();
          a {
            img {
              width: 50%;
            }
          }
        }
      }
      .button-wrap{
        margin-top: 15px;
        button{
          width: 100px;
          padding: 7px 12px;
          border-radius: 2px;
          border: none;
          font-family: $ff-mont;
          transition: all .2s ease-in-out;
        }
        .view{
          background: #fff;
          border: 1px solid #fff;
          &:hover{
            background:#010203;
            color: #fff;
          }
        }
        .code{
          margin-left: 15px;
          background: transparent;
          border: 1px solid #fff;
          color: #fff;

        }
      }
      .project-description {
        padding: 4rem 0rem;
        font-family: $ff-raleway;
        font-size: 2rem;
        font-weight: 200;
        opacity: 1;

      }
    }
  }
}

@media (min-width:780px) {
  .work-sec{
    .project-container{
      .project{
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        &:nth-child(odd){
     
            img{
              grid-column: 2/3;
            }
            .project-info{
              grid-column: 1/2;
              grid-row: 1/2;
            }

        }
        
        .project-info{
          .project-heading{

            .project-title{
              h4{
                span{
                  font-size: 1.3rem;
                  opacity: .8;
                }
              }
            }
            
          }
          .project-description{
            padding: 1rem 0rem;
            font-size: 1.5rem;
            max-width: 450px;
            line-height: 1.5;
          }
        }
      }

    }
    
  }
}
@media (max-width:1000px) {
   
  .work-sec .project{
    padding: 0 0;
  }
}
