@mixin dflex {
    display: flex;
    align-items: center;
}

.about-sec{
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    
    .about-sec-content{
        padding-top: 4rem;
        .image{
            text-align: center;
                .img{
                    border-radius: 8px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 400px;
                    height: auto;
                    transition: all .4s;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    &:hover{
                        transform: translate(-10px,-10px);
                        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0%);
                    }
                
            }
        }
        .text-content{
            padding-top: 5rem;
            .info{
                font-size: 2rem;
                font-family: $ff-mont;
                opacity: .8;
                font-weight: 300;
            }
            .skills-title{
                padding: 3rem 0rem;
                font-family: $ff-mont;
                font-size: 3rem;
                font-weight: 500;
            }
            .skills-list{
                font-family: $ff-ptmono;
                font-size: 2rem;
                @include dflex();
                justify-content: space-around;
                
                li{
                    ul{
                        li{
                            padding: 2rem 0rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:780px) {
    .about-sec{
        .about-sec-content{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr ;
          column-gap: 2rem;

          .image{
              grid-column: 2/3;
          }
          .text-content{
              grid-column: 1/2;
              grid-row: 1/2;
          }
        }
    }
}