// * {
//     outline: 1px solid #f00 !important;
//     opacity: 1 !important;
//     visibility: visible !important;
//   }
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;    
    color: #fff;
    scroll-behavior: smooth;
    overflow: auto;
}
body{
    padding: 0;
    margin: 0;
    background: #010203;
    // cursor: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 90%;
    margin: 0 auto;
}
.noScroll{
    position: fixed;
}
@mixin dflex {
    display: flex;
    align-items: center;
}
.section-title{
    @include dflex();
    font-size: 3rem;
    font-family: $ff-mont;
    font-weight: 400;
    padding: 3rem 0rem;

    .line{
        width: 40%;
        margin-left: 1rem;
    }
}