
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;    
    color: #fff;
    scroll-behavior: smooth;
    overflow: auto;
}
body{
    padding: 0;
    margin: 0;
    background: #010203;
    // cursor: none;
    // overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 90%;
    margin: 0 auto;
}
.noScroll{
    position: fixed;
}

.scroll-down header{
    transform: translate3d(0,-100%,0);
}

@mixin dflex {
    display: flex;
    align-items: center;
}
.section-title{
    @include dflex();
    font-size: 3rem;
    font-family: $ff-mont;
    font-weight: 400;
    padding: 3rem 0rem;

    .line{
        width: 40%;
        margin-left: 1rem;
    }
}
@media (min-width:780px) {
    body{
        cursor: none;
    }
 .section-title{
     font-size: 5rem;
 }   
}