@mixin dflex {
    display: flex;
    align-items: center;
}
header{
    height: 12vh;
    padding: 2vh 0vh;
    nav{
        @include dflex();
        justify-content: space-between;
        width: 90%;
        height: 50px;
        margin: 0 auto;
        
        
        .nav-logo{
            cursor: pointer;      
            img{
                width:50px;              
            }
        }
        
        .hamburger{
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            cursor: pointer;

            
            .bar{
                background: #fff;
                height: .4rem;
                width: 28px;
                margin: 0 auto;
                border-radius: 5px;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
            }
            &.active .bar:nth-child(2){
                opacity: 0;
                // display: none;
            }
            &.active .bar:nth-child(1){
                transform: translateY(8px) rotate(48deg);
            }
            &.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-41deg);
            }
        }
        .nav-menu{
            position: fixed;
            left: -100%;
            top: 7rem;
            border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 90%;
            height: 100vh;
            margin: 0 auto;
            text-align: center;
            transition: 0.3s;
            background: rgba(255, 255, 255, 0.986);
            z-index:5;
            border-radius: 12px;
            
            &.active{
                left: 5%;
            }
            
            .nav-link{   
                color: rgb(0, 0, 0);
                font-size: 1.6rem;
                font-family:$ff-mont;
                // cursor: none;

            }

            .resume{
                border: 1px solid rgb(0, 0, 0);
                padding: .8rem 2rem;
                
                &:focus{
                    border: 1px dashed #fff;
                }
                
            }

        }
    }
}


@media (min-width:780px) {
    
    header{
        nav{
            .hamburger{
                display: none;
            }
            .nav-menu{
                position: static;
                border-radius: 0;
                background: transparent;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                width: 40%;
                margin: 0;
                border: none;
                z-index: 0;

                .nav-item{
                    .nav-link{
                        z-index: 1;
                        color: #fff;
                        font-size: 1.3rem;
                        padding: 1.5rem 1rem;
                        height: 100%;
    
                        &.hovered-link{
                            color: rgb(0, 0, 0);
                        }
    
                    }

                }
                .resume{
                    border: 1px solid #fff;
                }
            }
        }
    }
}