@import "variables";
@import "global";
@import "intro";
@import "cursor";
@import "header";
@import "aboutsection";
@import "worksection";

@mixin dflex {
  display: flex;
  align-items: center;
}

main {
  .intro-sec {
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 12vh);
    position: relative;
    .intro-title {
      font-family: $ff-mont;
      font-weight: 300;
      font-size: 4rem;
      padding-top: 5rem;
      width: 100%;
    }
    .intro-subtitle {
      opacity: 0.8;
      padding-top: 3rem;
      font-family: $ff-mont;
      font-size: 1.8rem;
      font-weight: 200;
      max-width: 600px;
    }
    .arrow{
      position: absolute;
      top: 88vh;
      -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
      
    }
    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}
footer {
  height: 100vh;
  margin: 0 auto;
  
  h2{
    width:90%;
    margin: 0 auto;
  }
  .footer-sec {
    width: 90%;
    @include dflex();
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    
    .footer-cta {
        text-align: center;
        h3 {
            font-family: $ff-mont;
            font-size: 3rem;
            font-weight: 300;
            padding-bottom: 3rem;
            max-width: 880px;
        }
        .mail-cta {
            padding: 0.8rem 4rem;
            background:transparent;
            color: #ffffff;
            border: 1px solid #fff;
            font-family: $ff-raleway;
            font-size: 1.5rem;
            transition: all .4s;

            &:hover{
              background: #fff;
              color: #000;
            }
        }
    }
  
    .social-media{
      width: 100%;
      max-width: 530px;
      margin: 0 auto;

      .social-media-title{
        font-family: $ff-mont;
        font-size:3rem;
        font-weight: 300;
        text-align: center;
        padding-bottom: 2rem;
      }

      .social-media-accounts{
        @include dflex();
        justify-content: space-around;

        .account{
          img{
            width: 40px;
          }
        }
      }
    }
  }

  .credit{
    font-family: $ff-raleway;
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width:540px) {
  main{
    .intro-sec{
      .intro-title{
        font-size: 5.2rem;
      }
      .intro-subtitle{
        font-size: 2.3rem;
      }
    }
  }
}
@media (min-width:780px) {
    main{
      .intro-sec{
        height: 100vh;
        .intro-title{
          padding-top: 2em;
          font-size: 7rem;
    
        }
        .intro-subtitle{
          // margin-top: 3rem;
          max-width: 900px;
          font-size:2.8rem;
        }
      }
    }
}