@import "variables";
@import "global";
@import "intro";
@import "cursor";
@import "header";
@import "aboutsection";
@import "worksection";

@mixin dflex {
  display: flex;
  align-items: center;
}

footer {
  height: 100vh;
  margin: 0 auto;
  
  h2{
    width:90%;
    margin: 0 auto;
  }
  .footer-sec {
    width: 90%;
    @include dflex();
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    
    .footer-cta {
        text-align: center;
        h3 {
            font-family: $ff-mont;
            font-size: 3rem;
            font-weight: 300;
            padding-bottom: 3rem;
            max-width: 880px;
        }
        .mail-cta {
            padding: 0.8rem 4rem;
            background:transparent;
            color: #ffffff;
            border: 1px solid #fff;
            font-family: $ff-raleway;
            font-size: 1.5rem;
            transition: all .4s;

            &:hover{
              background: #fff;
              color: #000;
            }
        }
    }
  
    .social-media{
      width: 100%;
      max-width: 530px;
      margin: 0 auto;

      .social-media-title{
        font-family: $ff-mont;
        font-size:3rem;
        font-weight: 300;
        text-align: center;
        padding-bottom: 2rem;
      }

      .social-media-accounts{
        @include dflex();
        justify-content: space-around;

        .account{
          img{
            width: 40px;
          }
        }
      }
    }
  }

  .credit{
    font-family: $ff-raleway;
    font-size: 1rem;
    text-align: center;
  }
}

@media (min-width:540px) {
  main{
    .intro-sec{
      .intro-title{
        font-size: 5.2rem;
      }
      .intro-subtitle{
        font-size: 2.3rem;
      }
    }
  }
}
